.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.destination-item {
  position: relative;
  width: 350px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 20px;

  .destination-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }

  .destination-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }

  .destination-name {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .destination-price {
    font-size: 1rem;
  }
}

.card-header {
  text-align: start;
  margin-top: 20px;
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
}

p-card {
  width: 90% !important;
}

.p-card-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

p-avatar {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 4;
}

p-avatar i {
  color: #7f4af4;
  opacity: 1;
}

p-overlayPanel {
  position: fixed;
  bottom: 10px;
  right: 40px;
}

.destination-item {
  margin: 20px auto;
}

::ng-deep .p-card .p-card-content {
  padding-top: 0;
}
