<div class="main-page-design">
  <span class="me-3" style="font-weight: bold; font-size: 18px; color: white;">
    Direktflüge buchen
    und die Welt einfach
    und günstig entdecken</span>
  <img src="assets/img/Planet.png" alt="" style="height: 180px; width: 180px;">
</div>
<div class="main-page-tickets">
  <img src="assets/img/Ticket.png" alt="" style="height: 70px; width: 70px;">
  <span class="ms-5" style="font-weight: bold; font-size: 18px; color: white;">Buche deine Tickets jetzt!</span>
</div>



<app-flight-search></app-flight-search>
