body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .header {
    background-color: #212529;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  
  .user-icon,
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .main-content {
    text-align: center;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .subtitle {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .form-control {
    background-color: #212529;
    border: 1px solid #343a40;
    color: #fff;
  }
  
  .btn-primary {
    background-color: #673ab7; 
    border-color: #673ab7;
  }
  
  @media (max-width: 768px) {
  }

  .login-image {
    max-width: 200px; 
  }

  .form-box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .form-box > h2 {
    margin-bottom: -5px;
  }

  .form-box .tab-pane {
    margin-bottom: 20px;
  }

  .form-box .form-group {
    margin-bottom: 10px;
    display: flex;
    justify-content: end;
  }

  .form-group label {
    text-transform: capitalize;
    margin-right: 5px;
    font-weight: bold;
  }

  input svg rect {
    fill: #673ab7 !important;
  }

  .form-box .btn-primary { 
    color: white !important;
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .for-border {
    border: #836EEE solid 1px;
    margin: 50px 0;
  }

  .form-box h2 {
    text-align: center;
  }
 
  #login > h2 {
    margin-top: -20px;
  }