<div class="container">
    <div class="form-box">
      <h2 class="title">{{ 'loginOrRegister' | translate }}</h2>
      <img src="assets/img/sign-in.png" alt="Login Image" class="login-image"> 
  
      <div class="form-container">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
            <h2>{{ 'login' | translate }}</h2>
            <form (ngSubmit)="onLoginSubmit()" #loginForm="ngForm">
              <div class="form-group">
                <label for="loginEmail">{{ 'email' | translate }}</label>
                <input type="email" id="loginEmail" class="form-control" name="email" [(ngModel)]="loginData.email" required email>
              </div>
              <div class="form-group">
                <label for="loginPassword">{{ 'password' | translate }}</label>
                <input type="password" id="loginPassword" class="form-control" name="password" [(ngModel)]="loginData.password" required>
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">{{ 'login' | translate }}</button>
            </form>
          </div>

          <div class="for-border"></div>

          <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
            <h2>{{ 'register' | translate }}</h2>
            <form (ngSubmit)="onRegisterSubmit()" #registerForm="ngForm">
              <div class="form-group">
                <label for="registerEmail">{{ 'email' | translate }}</label>
                <input type="email" id="registerEmail" class="form-control" name="email" [(ngModel)]="registerData.email" required email>
              </div>
              <div class="form-group">
                <label for="registerPassword">{{ 'password' | translate }}</label>
                <input type="password" id="registerPassword" class="form-control" name="password" [(ngModel)]="registerData.password" required>
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">{{ 'register' | translate }}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>