<div>
  <div [ngClass]="{ 'blur-background': isSidebarVisible }">
    <app-menu *ngIf="shouldShowMenuAndFooter()"></app-menu>
    <div class="content" style="min-height: 370px">
      <router-outlet></router-outlet>
    </div>
    <p-messages />
    <p-button
      label="Admin button for testing"
      routerLink="/all-flights"
    ></p-button>
    <p-button label="Home button for testing" routerLink="/"></p-button>
    <app-footer *ngIf="shouldShowMenuAndFooter()"></app-footer>
  </div>
</div>
