.passenger-select{
  .p-inputtext:disabled.white-background{
    background: white;
  }
}

.passenger-select{
  .p-inputtext:disabled{
    background: #f0f1f2;
    opacity: 1;
  }
}

.passenger-select{
  cursor: pointer;
}

::ng-deep td .p-disabled{
  opacity: 0.1;
}

.pi.pi-calendar{
  width: 15px;
  height: 30px;
  font-size: 20px;
  padding-right: 20px;
}

.pi.pi-plus {
  width: 15px;
  height: 30px;
  font-size: 20px;
  padding-right: 20px;
}

.pi.pi-user {
  width: 15px;
  height: 30px;
  font-size: 20px;
  padding-right: 20px;
}
