::ng-deep .p-sidebar .p-sidebar-header .p-sidebar-close, .p-sidebar .p-sidebar-header .p-sidebar-icon {
  width: 3.3rem;
  height: 5rem;
}

::ng-deep .p-sidebar-header .p-icon{
  width: 1.7rem;
  height: 1.7rem;
}

::ng-deep .loginSidebar app-login .title {
  display: none;
}

::ng-deep .loginSidebar .p-sidebar-content {
  padding-left: 0;
  padding-right: 0;
}
