.sidebar-header {
  display: flex;
  justify-content: flex-end;
  padding: 7px;
}
.header-class .erste-close-icon {
  display: none;
}

.close-icon{
  font-size: 22px;
}


.menu-list li:hover {
  background-color: #5c5cff;
  border-radius: 4px;
}
