<div class="flex justify-content-between" style="border-bottom: 1px solid #8080d7">
  <div routerLink="">
    <img
      class="mt-4"
      style="width: 80px; height: 80px"
      src="assets/img/AirFly_Logo1.png"
    />
  </div>
  <div class="flex align-items-center">
    <div>
      <i class="pi pi-user" style="font-size: 30px" routerLink="app-signup-register"></i>
    </div>
    <div class="mx-4" (click)="toggleSidebar()">
      <i class="pi pi-bars" style="font-size: 30px"></i>
    </div>
  </div>
</div>

<p-sidebar
  [(visible)]="visibleSidebar"
  [baseZIndex]="10000"
  [position]="'right'"
  [modal]="false"
  [showCloseIcon]="false"
  class="custom-sidebar"
>
  <div class="sidebar-header">
    <i class="pi pi-times close-icon" (click)="toggleSidebar()"></i>
  </div>
  <div style="font-size: 18px; font-weight: bold;">
    <p (click)="goToBookNewFlight()">{{ 'book' | translate }}</p>
    <p></p>
  </div>
  <p-divider></p-divider>
  <div class="flex justify-content-between mt-4">
    <div>
      <i
        class="fw-bold pi pi-globe text-dark"
        style="font-size: 24px;"
        (click)="op.toggle($event)"
      ></i>
    </div>
    <div class="flex">
      @if (darkTheme) {
        <i class="pi pi-moon mr-3" style="font-size: 24px;"></i>
      } @else {
        <i class="pi pi-sun mr-3" style="font-size: 24px;"></i>
      }
      <p-inputSwitch
        (onChange)="changeTheme($event)"
        [(ngModel)]="darkTheme"
      />
    </div>
  </div>
</p-sidebar>

<p-overlayPanel #op>
  <p-dropdown
    [(ngModel)]="selectedLanguage"
    optionLabel="label"
    optionValue="value"
    [options]="languageOptions"
    (onChange)="onChangeLanguage($event)">
  </p-dropdown>
</p-overlayPanel>
