@if (currentStep === 1) {
  <div class="w-full modify-flight">
    <p-accordion>
      <p-accordionTab header="{{'change-search' | translate }}">
        <div class="w-full flex justify-content-center pt-5">
          <app-flight-search></app-flight-search>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
  <div class="w-full flex flex-column align-items-center flight-select-holder padding-for-continue-button-without-details">
    @for (flight of outwardFlights; track outwardFlights; let i = $index) {
      <p-card class="mt-5">
        <div class="flex w-full justify-content-between align-items-center">
          <div class="flex flex-column" style="font-size: 1.1rem;">
            <p class="m-0 font-semibold">{{ flight.departureAirport.code }}</p>
            <p class="m-0 mt-2 font-bold">{{ flight.departureTime | date: 'HH:mm' }}</p>
          </div>
          <div class="w-full flex flex-column align-items-center mx-7 flight-time">
            <p class="m-0">{{ getTimeDifference(flight.departureTime, flight.arrivalTime) }}h</p>
            <p-divider class="w-full p-flight-divider"/>
            <p class="m-0">Nonstop</p>
          </div>
          <div class="flex flex-column" style="font-size: 1.1rem;">
            <p class="m-0 font-semibold">{{ flight.arrivalAirport.code }}</p>
            <p class="m-0 mt-2 font-bold">{{ flight.arrivalTime | date: 'HH:mm' }}</p>
          </div>
        </div>
        <p-divider/>
        <div class="flight-select">
          <p-accordion>
            <p-accordionTab>
              <ng-template pTemplate="header">
                <div class="header-div">
                  <span>{{ "flight-from" | translate }}</span>
                  <br/>
                  <span class="mt-1"
                        style="font-size:1.7em;">{{ flight.price + (categories!.at(0)?.price ?? 0)  | currency: 'EUR' }}</span>
                </div>
              </ng-template>
              <div class="category-holder mt-5">
                <p-carousel
                  [value]="categories"
                  [numVisible]="1"
                  [numScroll]="1"
                  [circular]="false">
                  <ng-template let-category pTemplate="item">
                    <p-card>
                      <ng-template pTemplate="header">
                        <div class="category-header"
                             [ngClass]="{'basic-background': category?.name ==='BASIC','standard-background': category?.name === 'STANDARD', 'premium-background': category?.name === 'PREMIUM'}">
                          <p class="m-0">{{ category.name }}</p>
                        </div>
                      </ng-template>
                      <div style="height: 15rem; overflow-y: auto;">
                        @if (category.name == 'BASIC') {
                          <p class="m-0">
                            <i class="pi pi-desktop mr-2"></i>
                            {{ 'only-online-check-in' | translate }}
                          </p>
                          <p>
                            <i class="pi pi-shopping-bag mr-2"></i>
                            1x {{ 'small-cabin-bag' | translate }}
                          </p>
                        }
                        @if (category.name == 'STANDARD') {
                          <p class="m-0">
                            <i class="pi pi-desktop mr-2"></i>
                            {{ 'online-check-in' | translate }}
                          </p>
                          <p>
                            <i class="pi pi-home mr-2"></i>
                            {{ 'on-site-check-in' | translate }}
                          </p>
                          <p>
                            <i class="pi pi-shopping-bag mr-2"></i>
                            1x {{ 'small-cabin-bag' | translate }}
                          </p>
                          <p>
                            <i class="pi pi-briefcase mr-2"></i>
                            1x {{ 'baggage' | translate }}
                          </p>
                        }
                        @if (category.name == 'PREMIUM') {
                          <p class="m-0">
                            <i class="pi pi-desktop mr-2"></i>
                            {{ 'online-check-in' | translate }}
                          </p>
                          <p>
                            <i class="pi pi-home mr-2"></i>
                            {{ 'on-site-check-in' | translate }}
                          </p>
                          <p>
                            <i class="pi pi-shopping-bag mr-2"></i>
                            1x {{ 'small-cabin-bag' | translate }}
                          </p>
                          <p>
                            <i class="pi pi-briefcase mr-2"></i>
                            2x {{ 'baggage' | translate }}
                          </p>
                          <p>
                            <i class="pi pi-user-plus mr-2"></i>
                            {{ 'priority-boarding' | translate }}
                          </p>
                          <p>
                            <i class="pi pi-calendar-minus mr-2 mb-1"></i>
                            {{ 'cancel-flight-info' | translate }}
                          </p>
                        }
                      </div>
                      <p-divider></p-divider>
                      <div class="flex justify-content-between align-items-center">
                        <input
                          type="radio"
                          [name]="flight.id + category.id"
                          [value]="{ flightId: flight.id, categoryId: category.id }"
                          [checked]="selectedOutwardFlightId === flight.id && selectedOutwardCategoryId === category.id"
                          (change)="onOutwardFlightSelection(flight.id, category.id)"
                          style="transform: scale(1.8);"
                        />
                        <p class="font-bold"
                           style="font-size: 1.5rem;">{{ flight.price + category.price | currency: 'EUR' }}</p>
                      </div>
                    </p-card>
                  </ng-template>
                </p-carousel>
              </div>
              <div class="w-full flex justify-content-center mt-5">
              </div>
            </p-accordionTab>
          </p-accordion>
        </div>
      </p-card>
    }
  </div>
}
@if (currentStep === 2 && numberOfSteps === 5) {
  <div class="w-full modify-flight">
    <p-accordion>
      <p-accordionTab header="{{'change-search' | translate }}">
        <div class="w-full flex justify-content-center mt-5">
          <app-flight-search></app-flight-search>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
  <div class="w-full flex flex-column align-items-center flight-select-holder padding-for-continue-button-without-details">
    @for (flight of returnFlights; track returnFlights; let i = $index) {
      <p-card class="mt-5">
        <div class="flex w-full justify-content-between align-items-center">
          <div class="flex flex-column" style="font-size: 1.1rem;">
            <p class="m-0 font-semibold">{{ flight.departureAirport.code }}</p>
            <p class="m-0 mt-2 font-bold">{{ flight.departureTime | date: 'HH:mm' }}</p>
          </div>
          <div class="w-full flex flex-column align-items-center mx-7 flight-time">
            <p class="m-0">{{ getTimeDifference(flight.departureTime, flight.arrivalTime) }}h</p>
            <p-divider class="w-full p-flight-divider"/>
            <p class="m-0">Nonstop</p>
          </div>
          <div class="flex flex-column" style="font-size: 1.1rem;">
            <p class="m-0 font-semibold">{{ flight.arrivalAirport.code }}</p>
            <p class="m-0 mt-2 font-bold">{{ flight.arrivalTime | date: 'HH:mm' }}</p>
          </div>
        </div>
        <p-divider/>
        <div class="flight-select">
          <p-accordion>
            <p-accordionTab>
              <ng-template pTemplate="header">
                <div class="header-div">
                  <span>{{ "flight-from" | translate }}</span>
                  <br/>
                  <span class="mt-1"
                        style="font-size:1.7em;">{{ flight.price + (categories!.at(0)?.price ?? 0)  | currency: 'EUR' }}</span>
                </div>
              </ng-template>
              <div class="category-holder mt-5">
                <p-carousel
                  [value]="categories"
                  [numVisible]="1"
                  [numScroll]="1"
                  [circular]="false">
                  <ng-template let-category pTemplate="item">
                    <p-card>
                      <ng-template pTemplate="header">
                        <div class="category-header"
                             [ngClass]="{'basic-background': category?.name ==='BASIC','standard-background': category?.name === 'STANDARD', 'premium-background': category?.name === 'PREMIUM'}">
                          <p class="m-0">{{ category.name }}</p>
                        </div>
                      </ng-template>
                      <div style="height: 15rem; overflow-y: auto;">
                        @if (category.name == 'BASIC') {
                          <p class="m-0">
                            <i class="pi pi-desktop mr-2"></i>
                            {{ 'only-online-check-in' | translate }}
                          </p>
                          <p>
                            <i class="pi pi-shopping-bag mr-2"></i>
                            1x {{ 'small-cabin-bag' | translate }}
                          </p>
                        }
                        @if (category.name == 'STANDARD') {
                          <p class="m-0">
                            <i class="pi pi-desktop mr-2"></i>
                            {{ 'online-check-in' | translate }}
                          </p>
                          <p>
                            <i class="pi pi-home mr-2"></i>
                            {{ 'on-site-check-in' | translate }}
                          </p>
                          <p>
                            <i class="pi pi-shopping-bag mr-2"></i>
                            1x {{ 'small-cabin-bag' | translate }}
                          </p>
                          <p>
                            <i class="pi pi-briefcase mr-2"></i>
                            1x {{ 'baggage' | translate }}
                          </p>
                        }
                        @if (category.name == 'PREMIUM') {
                          <p class="m-0">
                            <i class="pi pi-desktop mr-2"></i>
                            {{ 'online-check-in' | translate }}
                          </p>
                          <p>
                            <i class="pi pi-home mr-2"></i>
                            {{ 'on-site-check-in' | translate }}
                          </p>
                          <p>
                            <i class="pi pi-shopping-bag mr-2"></i>
                            1x {{ 'small-cabin-bag' | translate }}
                          </p>
                          <p>
                            <i class="pi pi-briefcase mr-2"></i>
                            2x {{ 'baggage' | translate }}
                          </p>
                          <p>
                            <i class="pi pi-user-plus mr-2"></i>
                            {{ 'priority-boarding' | translate }}
                          </p>
                          <p>
                            <i class="pi pi-calendar-minus mr-2 mb-1"></i>
                            {{ 'cancel-flight-info' | translate }}
                          </p>
                        }
                      </div>
                      <p-divider></p-divider>
                      <div class="flex justify-content-between align-items-center">
                        <input
                          type="radio"
                          [name]="flight.id + category.id"
                          [value]="{ flightId: flight.id, categoryId: category.id }"
                          [checked]="selectedReturnFlightId === flight.id && selectedReturnCategoryId === category.id"
                          (change)="onReturnFlightSelection(flight.id, category.id)"
                          style="transform: scale(1.8);"
                        />
                        <p class="font-bold"
                           style="font-size: 1.5rem;">{{ flight.price + category.price | currency: 'EUR' }}</p>
                      </div>
                    </p-card>
                  </ng-template>
                </p-carousel>
              </div>
              <div class="w-full flex justify-content-center mt-5">
              </div>
            </p-accordionTab>
          </p-accordion>
        </div>
      </p-card>
    }
  </div>
}

<div class="continue flex align-items-center justify-content-center continue-button-without-details">
  <div style="width: 90%" class="flex justify-content-between">
    <button
      style="font-weight: bold; display: flex; justify-content: center; align-items: center;"
      pButton
      (click)="goBack()"
      [disabled]="currentStep === 1"
    >
      <i style="font-size: 2rem" class="pi pi-angle-left"></i>
    </button>
    <button
      style="font-weight: bold; display: flex; justify-content: center; align-items: center;"
      pButton
      [disabled]="isContinueButtonDisabled()"
      (click)="goForward()">
      <i style="font-size: 2rem" class="pi pi-angle-right"></i>
    </button>
  </div>
</div>
