<table align="center" style="width: 100%;">
  <tr>
    <td style="text-align: center;">
      <h2>Danke für Ihre Bestellung: #AF{{ booking.id }}</h2>
    </td>
  </tr>
  <tr>
    <td>
      <h3>Hinflug</h3>
      <div class="flight-details"> <div class="flight-details-outward" *ngIf="booking.bookingFlightMappings[0]">
        <p>{{ booking.bookingFlightMappings[0].flight.departureAirport.name }} - {{ booking.bookingFlightMappings[0].flight.arrivalAirport.name }}</p>
        <p>{{ booking.bookingFlightMappings[0].flight.departureTime | date:'dd.MM.yyyy HH:mm' }} - {{ booking.bookingFlightMappings[0].flight.arrivalTime | date:'dd.MM.yyyy HH:mm' }}</p>
        <p>Flugzeit: {{ getTimeDifference(booking.bookingFlightMappings[0].flight.departureTime, booking.bookingFlightMappings[0].flight.arrivalTime) }}</p>
        <p>{{ booking.bookingFlightMappings[0].category.name }} ({{ booking.bookingFlightMappings[0].category.price | currency }})</p>
      </div> </div>
    </td>
  </tr>
  <tr>
    <td>
      <h3>Passagiere</h3>
      <div class="passenger-details">
        <p *ngFor="let passenger of booking.passengers">{{ passenger.firstname }} {{ passenger.lastname }}</p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h3>Rechnungsadresse</h3>
      <div class="billing-details">
        <p>{{ booking.billingFirstname }} {{ booking.billingLastname }}</p>
        <p>{{ booking.billingStreet }} {{ booking.billingHousenumber }}</p>
        <p>{{ booking.billingPostcode }} {{ booking.billingCity }}</p>
      </div>
    </td>
  </tr>
  <tr>
    <td style="text-align: center;">
      <h3>Gesamtpreis: {{ calculateTotal() | currency }}</h3>
    </td>
  </tr>
</table>
