@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.css';

th p {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

filtericon {
  margin-top: 5px;
}

.p-inputnumber-input:disabled {
  background-color: #f0f1f2 !important;
  opacity: 1;
}

.p-disabled {
  opacity: 0.8 !important;
}

html {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  font-size: 13px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
}

/*Readonly style for all input texts*/

.p-inputtext:read-only {
  background-color: #f0f1f2;
  pointer-events: none;
}

.my-readonly .p-button {
  background-color: #3f51b5 !important;
  opacity: 0.6 !important;
  border: 1px solid #3f51b5;
}

.my-readonly button{
  background-color: black !important;
}

.my-readonly .p-autocomplete-dropdown {
  background-color: #3f51b5 !important;
  opacity: 0.6 !important;
  border: 1px solid #3f51b5;
  cursor: default !important;
  pointer-events: none;
}

.my-readonly .p-calendar .p-inputtext {
  background-color: #f0f1f2;
}

.my-readonly .p-datepicker-trigger {
  background-color: #3f51b5 !important;
  opacity: 0.6 !important;
}

.my-readonly .p-inputnumber-button {
  background-color: #3f51b5 !important;
  opacity: 0.6 !important;
  border: none;
  pointer-events: none;
}

.my-readonly {
  pointer-events: none;
}

.my-readonly .p-multiselect.p-component.p-inputwrapper {
  background-color: #f0f1f2 !important;
  pointer-events: none;
}

.my-readonly .p-checkbox-box:read-only {
  background-color: #f0f1f2 !important;
}

/* Not highlighted, not read-only */
.p-checkbox-box:not(:read-only) {
  background-color: white !important;
}

/* Highlighted, read-only */
.my-readonly .p-checkbox-box.p-highlight:read-only {
  background-color: #3f51b5 !important;
  opacity: 0.6 !important;
  border: 1px solid #3f51b5;
  pointer-events: none;
}

/* Highlighted, not read-only */
.p-checkbox-box.p-highlight:not(:read-only) {
  background-color: #3b82f6 !important;
  border: none;
}

.my-readonly .p-radiobutton .p-radiobutton-box {
  background: #f0f1f2;
}

.my-readonly .p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: #3f51b5;
  background: #3f51b5;
  opacity: 0.6 !important;
}

/*Consider the rounded corners on the right*/
.my-readonly .p-dropdown.p-component.p-inputwrapper.p-inputwrapper-filled {
  background-color: #f0f1f2 !important;
  pointer-events: none;
}

/*Readonly style for dropdown input texts*/
.my-readonly .p-dropdown-label.p-inputtext:read-only {
  background-color: #f0f1f2 !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  pointer-events: none;
}

/*Readonly style for dropdown buttons*/
.my-readonly .p-dropdown-trigger:read-only {
  background-color: #f0f1f2 !important;
  pointer-events: none;
}

/*Non-readonly style for dropdown input texts*/
.p-dropdown-label.p-inputtext {
  background-color: white !important;
}

.p-fieldset .p-fieldset-legend {
  padding: 0 5px 0 5px;
  border: none;
  background: none;
  font-weight: 600;
  border-radius: unset;
}

* .my-invisible {
  visibility: hidden !important;
}

.p-dynamic-dialog > .p-dialog-header *{
  display: none;
}

.p-dynamic-dialog > .p-dialog-header{
  padding: 0;
  height: 8px;
  border-bottom: none;
}

.close-icon {
  cursor: pointer;
  padding: 5px;
  border-radius: 100%;
  font-size: 1.1em;
}

.close-icon:hover {
  background-color: RGB(230, 231, 250, 0.5);
}

.p-messages {
  position: fixed;
  bottom: 5px;
  z-index: 99999;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
}

.p-message.p-message-error {
  background: rgba(255, 231, 230);
  border: solid #ff5757;
  border-width: 0 0 0 6px;
  color: #ff5757;
}

.p-inputnumber-buttons-horizontal .p-inputnumber-input {
  text-align: center;
  width: 50px;
}

.p-sidebar-header{
  background: #f4f4f4;
  padding-bottom: 0;
  padding-top: 0;
}


@media (max-width: 450px) {
  .search-flight-card .p-dropdown, .search-flight-card .p-inputtext {
    max-width: 300px;
  }
}

@media (max-width: 400px) {
  .search-flight-card .p-dropdown, .search-flight-card .p-inputtext {
    max-width: 270px;
  }
}

@media (max-width: 370px) {
  .search-flight-card .p-dropdown, .search-flight-card .p-inputtext {
    max-width: 250px;
  }
}

@media (max-width: 350px) {
  .search-flight-card .p-dropdown, .search-flight-card .p-inputtext {
    max-width: 220px;
  }
}

@media (max-width: 315px) {
  .search-flight-card .p-dropdown, .search-flight-card .p-inputtext {
    max-width: 200px;
  }
}

.p-datepicker-calendar td {
  font-weight: bold;
}

.p-datepicker-calendar td .p-disabled{
  opacity: 0.3!important;
  font-weight: normal;
}

.hide-today-button {
  display: none;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  background: #ffffff;
  color: #3B82F6;
  border-bottom: 3px solid lightgray; /* Specify solid border */
}

.p-tabview .p-tabview-nav li {
  padding-bottom: 2px;
  margin-left:1px;
  margin-right: 1px;
  flex: 1;
  pointer-events: none;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link{
  padding: 0;
  margin: 0;
  border-radius: 0;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #ffffff;
  color: #3B82F6;
  border-bottom: 3px solid #3B82F6;
}

.p-tabview .p-tabview-nav {
  border: none;
}

.modify-flight .p-accordion-content {
  position: absolute;
  top: 179px;
  width: 100%;
  z-index: 1;
}

.modify-flight{
  box-shadow: 0 6px 6px 0 rgba(0,0,0,.18);
  z-index: 555;
}

.flight-select-holder .p-card{
  width: 90vw;
}

.category-holder .p-card{
  width: 95%;
}

.flight-select .p-accordion .p-accordion-header .p-accordion-header-link{
  padding:0;
}

.flight-select .p-icon-wrapper{
  padding:10px;
  background: #3b82f6;
  border-radius: 6px;
}

.flight-select .p-icon-wrapper *{
  width:20px;
  height:20px;
  color: white;
}

.p-tabview-panels{
  padding: 0;
}

.p-accordion .p-accordion-header .p-accordion-header-link{
  border-top: none;
}


.flight-time .p-divider.p-divider-horizontal::before {
  border-top: 2px lightgray solid;
}


.p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 1.125rem 1.125rem 1.125rem 1.125rem;
  border: 0 none;
  color: #64748b;
  background: #ffffff;
  font-weight: 600;
  border-radius: 6px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
}
.p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
  margin-right: 0.5rem;
}
.p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus-visible {
  outline: 1px solid var(--p-focus-ring-color);
  outline-offset: 2px;
  box-shadow: inset none;
}
.p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link {
  background: #ffffff;
  border-color: #e2e8f0;
  color: #334155;
}
.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
  background: #ffffff;
  border-color: #e2e8f0;
  color: #334155;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link {
  border-color: #e2e8f0;
  background: #ffffff;
  color: #334155;
}
.p-accordion .p-accordion-content {
  padding: 0 1.125rem 1.125rem 1.125rem;
  border: 0 none;
  background: #ffffff;
  color: #334155;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.p-accordion p-accordiontab .p-accordion-tab {
  margin-bottom: 0;
}
.p-accordion p-accordiontab .p-accordion-header .p-accordion-header-link {
  border-radius: 0;
}
.p-accordion p-accordiontab .p-accordion-content {
  border-radius: 0;
}
.p-accordion p-accordiontab:not(:first-child) .p-accordion-header .p-accordion-header-link {
  border-top: 0 none;
}
.p-accordion p-accordiontab:not(:first-child) .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link, .p-accordion p-accordiontab:not(:first-child) .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link {
  border-top: 0 none;
}
.p-accordion p-accordiontab:first-child .p-accordion-header .p-accordion-header-link {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.p-accordion p-accordiontab:last-child .p-accordion-header:not(.p-highlight) .p-accordion-header-link {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.p-accordion p-accordiontab:last-child .p-accordion-content {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

@layer primeng {
  .p-accordion .p-accordion-header .p-accordion-header-link {
    border-radius: 6px !important;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .p-accordion .p-accordion-header .p-accordion-header-link:hover {
    border-bottom-color: #e2e8f0;
  }

  .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
    transform: rotate(90deg);
  }

  .p-accordion .p-accordion-header.p-highlight .p-accordion-toggle-icon {
    transform: rotate(-180deg);
  }

  .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus-visible {
    outline-offset: -2px;
  }

  .p-accordion p-accordiontab .p-accordion-tab {
    border-bottom: 1px solid #e2e8f0;
  }

  .p-accordion p-accordiontab:last-of-type .p-accordion-tab {
    border-bottom: 0 none;
  }
}

.p-carousel-container button{
  display: none;
}

.category-holder .p-card-body{
  background: #f6f6f6;
  border-radius: 0 0 7px 7px;
}

.category-holder .p-card-header{
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 7px 7px 0 0;
}

.category-header{
  border-radius: 7px 7px 0 0;
}

.category-header{
  padding: 15px;
}

.category-holder .p-card{
  width: 90%;
  border: none;
  color: black;
}

.category-holder .p-card i{
  font-weight: bold;
}

.p-accordion-tab-active .header-div{
  display: none;
}

.continue{
  width: 100vw;
  height: 9vh;
  position: fixed;
  bottom: 0;
  background: white;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.15);
}

.continue button {
  width: 90%;
  height: 3.5em;
}

.flight-select-holder {
  padding-bottom: 13vh;
}
