@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.css';

th p {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

filtericon {
  margin-top: 5px;
}

.p-disabled {
  opacity: 0.8 !important;
}

html {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  font-size: 13px;
}

/*Readonly style for all input texts*/

.my-readonly .p-button {
  background-color: #8B5CF6 !important;
  opacity: 0.6 !important;
  border: 1px solid #8B5CF6;
}

.my-readonly button{
  background-color: black !important;
}

.my-readonly .p-autocomplete-dropdown {
  background-color: #8B5CF6 !important;
  opacity: 0.6 !important;
  border: 1px solid #8B5CF6;
  cursor: default !important;
  pointer-events: none;
}

.my-readonly .p-datepicker-trigger {
  background-color: #8B5CF6 !important;
  opacity: 0.6 !important;
}

.my-readonly .p-inputnumber-button {
  background-color: #8B5CF6 !important;
  opacity: 0.6 !important;
  border: none;
  pointer-events: none;
}

.my-readonly {
  pointer-events: none;
}

/* Highlighted, read-only */
.my-readonly .p-checkbox-box.p-highlight:read-only {
  background-color: #8B5CF6 !important;
  opacity: 0.6 !important;
  border: 1px solid #8B5CF6;
  pointer-events: none;
}

/* Highlighted, not read-only */
.p-checkbox-box.p-highlight:not(:read-only) {
  background-color: #8B5CF6 !important;
  border: none;
}

.my-readonly .p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: #8B5CF6;
  background: #8B5CF6;
  opacity: 0.6 !important;
}

.p-fieldset .p-fieldset-legend {
  padding: 0 5px 0 5px;
  border: none;
  background: none;
  font-weight: 600;
  border-radius: unset;
}

* .my-invisible {
  visibility: hidden !important;
}

.p-dynamic-dialog > .p-dialog-header *{
  display: none;
}

.p-dynamic-dialog > .p-dialog-header{
  padding: 0;
  height: 8px;
  border-bottom: none;
}

.close-icon {
  cursor: pointer;
  padding: 5px;
  border-radius: 100%;
  font-size: 1.1em;
}
.close-icon:hover {
  background-color: RGB(230, 231, 250, 0.5);
}

.p-messages {
  position: fixed;
  bottom: 5px;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
}

.p-message.p-message-error {
  background: rgba(255, 231, 230);
  border: solid #ff5757;
  border-width: 0 0 0 6px;
  color: #ff5757;
}

.p-inputnumber-buttons-horizontal .p-inputnumber-input {
  text-align: center;
  width: 50px;
}

@media (max-width: 450px) {
  .search-flight-card .p-dropdown, .search-flight-card .p-inputtext {
    max-width: 300px;
  }
}

@media (max-width: 400px) {
  .search-flight-card .p-dropdown, .search-flight-card .p-inputtext {
    max-width: 270px;
  }
}

@media (max-width: 370px) {
  .search-flight-card .p-dropdown, .search-flight-card .p-inputtext {
    max-width: 250px;
  }
}

@media (max-width: 350px) {
  .search-flight-card .p-dropdown, .search-flight-card .p-inputtext {
    max-width: 220px;
  }
}

@media (max-width: 315px) {
  .search-flight-card .p-dropdown, .search-flight-card .p-inputtext {
    max-width: 200px;
  }
}

.p-datepicker-calendar td {
  font-weight: bold;
}

.p-datepicker-calendar td .p-disabled{
  opacity: 0.3!important;
  font-weight: normal;
}

.hide-today-button {
  display: none;
}

.p-tabview .p-tabview-nav li {
  padding-bottom: 2px;
  margin-left:1px;
  margin-right: 1px;
  flex: 1;
  pointer-events: none;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link{
  padding: 0;
  margin: 0;
  border-radius: 0;
}

.p-tabview .p-tabview-nav {
  border: none;
}

.modify-flight .p-accordion-content {
  width: 100%;
}

.modify-flight{
  box-shadow: 0 6px 6px 0 rgba(0,0,0,.18);
  z-index: 3;
}

.modify-flight .p-accordion-content{
  box-shadow: 0 6px 6px 0 rgba(0,0,0,.18);
}

.flight-select-holder .p-card{
  width: 90vw;
}

.category-holder .p-card{
  width: 95%;
}

.flight-select .p-accordion .p-accordion-header .p-accordion-header-link{
  padding:0;
}

.flight-select .p-icon-wrapper{
  padding:10px;
  background: #8B5CF6;
  border-radius: 6px;
}

.p-tabview-panels{
  padding: 0;
}

input[type='radio'] {
  accent-color: #8B5CF6;
}

.p-accordion .p-accordion-header .p-accordion-header-link{
  border-top: none;
}

.p-carousel-container button{
  display: none;
}

.category-holder .p-card-header{
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 7px 7px 0 0;
}

footer {
  border-top: #836EEE solid;
  font-size: 14px;
  height: 100px;
}

.continue{
  width: 100vw;
  height: 9vh;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.15);
}

.continue button {
  width: 90%;
  height: 3.5em;
}

.p-component-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
