footer {
  border-color: #836EEE !important;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  border-top: #836EEE solid;
  font-size: 14px;
  color: white;

}

