@import "primeng/resources/themes/lara-dark-purple/theme.css";

.p-inputnumber-input:disabled {
  background-color: #1d2a43 !important;
}

.p-inputtext:read-only {
  background-color: #1e2943 !important;
  pointer-events: none;
}

.my-readonly .p-calendar .p-inputtext {
  background-color: #1e2943 !important;
}

.my-readonly .p-multiselect.p-component.p-inputwrapper {
  background-color: #1e2943 !important;
  pointer-events: none;
}

.my-readonly .p-checkbox-box:read-only {
  background-color: #1e2943 !important;
}

/* Not highlighted, not read-only */
.p-checkbox-box:not(:read-only) {
  background-color: #111827 !important;
}

.my-readonly .p-radiobutton .p-radiobutton-box {
  background-color: #1e2943 !important;

}

/*Consider the rounded corners on the right*/
.my-readonly .p-dropdown.p-component.p-inputwrapper.p-inputwrapper-filled {
  background-color: #1e2943 !important;
  pointer-events: none;
}

/*Readonly style for dropdown input texts*/
.my-readonly .p-dropdown-label.p-inputtext:read-only {
  background-color: #1e2943 !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  pointer-events: none;
}

/*Readonly style for dropdown buttons*/
.my-readonly .p-dropdown-trigger:read-only {
  background-color: #1e2943 !important;
  pointer-events: none;
}

/*Non-readonly style for dropdown input texts*/
.p-dropdown-label.p-inputtext {
  background-color: #111827 !important;
}

.passenger-select{
  .p-inputtext:disabled.white-background{
    background: #111827 !important;
  }
}

.passenger-select{
  .p-inputtext:disabled{
    background-color: #1e2943 !important;
    opacity: 1;
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #120F2B;
}

h2, h1, i, h3{
  color: #dddddd;
}

footer{
  color: #dddddd;
}

.continue{
  background: #1f2937;
}

.flight-select-holder .p-accordion-content, .flight-select-holder .p-accordion .p-accordion-header .p-accordion-header-link {
  background: #1f2937;
}

.flight-select-holder .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link {
  background: #1f2937;
}

.flight-select-holder .header-div, .header-div span{
  color: #dddddd;
}

.flight-select-holder .p-accordion p-card .p-card-body{
  background: #131922;
}

.standard-background{
  background: #3B82F6;
  color: #dddddd;
}

.premium-background{
  background: #891b55;
  color: #dcdcdc;
}

.basic-background{
  background: #dddddd;
  color: #303030;
}

.BASIC-span{
  background: #dddddd;
  color: #303030;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  font-weight: bold;
}

.STANDARD-span{
  background: #3B82F6;
  color: #dddddd;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  font-weight: bold;
}

.PREMIUM-span{
  background: #891b55;
  color: #dcdcdc;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  font-weight: bold;
}

.flight-select-header{
  color: #dddddd;
}

.continue i {
  color: #303030;
}

.header-border{
  border-bottom: 1px solid #8080d7;
}

::ng-deep .total-price .p-panel .p-panel-content{
  border-top: 1px solid #424b57;
}
