<form>
  <div [formGroup]="formGroup" class="flex justify-content-center">
    <div class="container w-full">
      <div class="row">
        <div class="col">
          <div>
            <p style="margin: 0 0 7px" class="w-full">
              {{ "email" | translate }}
            </p>
            <input
              formControlName="email"
              type="email"
              pInputText
              class="w-full"
            />
            <div style="min-height: 20px">
              <small *ngIf="!formGroup.get('email')!.valid" class="p-error">{{
                "enter-valid-value" | translate
              }}</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="w-full">
            <p style="margin: 0 0 7px" class="w-full">
              {{ "password" | translate }}
            </p>
            <p-password
              formControlName="password"
              [toggleMask]="true"
              [feedback]="false"
              styleClass="w-full"
              [style]="{ width: '100%' }"
              [inputStyle]="{ width: '100%' }"
            />
            <div style="min-height: 20px">
              <small
                *ngIf="!formGroup.get('password')!.valid"
                class="p-error"
                >{{ "enter-valid-value" | translate }}</small
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col">
          <div class="d-flex justify-content-center">
            <button
              pButton
              label="{{ 'register' | translate }}"
              class="w-full"
              (click)="login()"
            ></button>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col">
          <a href="/register">{{ "no-account" | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</form>
